*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  font-family: system-ui, sans-serif;
}

body {
  -webkit-tap-highlight-color: transparent;
}
